/* course */

.coures-item {
  background-color: orange;
  height: 260px;
  text-align: center;
}

.coures-item h1 {
  font-size: 3em;
  color: white;
  line-height: 260px;
}

.category {
  height: 260px;
  background-color: violet;
}

.category ul {
  list-style: none;
}

@media only screen and (max-width: 1023px) {
  .coures-item {
    margin-top: 20px;
  }
}
